.heading
{

   font-weight: bold;
   text-align: center;

}
.con
{
  padding-left: 15px;
  padding-right: 15px;
}
.row
{
  padding-left: 50px;

}
.sec1
{
  background-color: grey;

  width:450px;
    top:150px;
  position:absolute;
}
.sec2
{
  position:absolute;
  background-color: grey;
  width:450px;
  top:150px;
  left:542px;
  z-index: -1;
}
.sec3
{
  position:absolute;
  background-color: grey;
  width:450px;
  top:150px;
  left:1024px;
  z-index: -1;
}
.h3
{

}
.n
{

  width:200px;
  height:50px;
  padding-bottom: 5px;

}
.name1
{
  width:200px;
  height:50px;
  background-color: pink;
  position:absolute;
  left:250px;
    text-align: center;


}
.name2
{
  width:200px;
  height:50px;
  background-color: red;
  position:absolute;
  left:250px;
  text-align: center;



}
.name3
{
  width:200px;
  height:50px;
  background-color: yellow;
  position:absolute;
  left:250px;
  text-align: center;

}
